<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>
    <context:annotation-config/>
    <context:component-scan base-package="com.tencent.fm.convert.*"/>

    <bean id="fileConvert" class="com.tencent.fm.convert.FileConvertImpl">
        <property name="word2PdfConvert" ref="asposeConvert"></property>
        <property name="word2HtmlConvert" ref="asposeConvert"></property>
        <property name="excel2HtmlConvert" ref="asposeConvert"></property>
        <property name="excel2PdfConvert" ref="asposeConvert"></property>
    </bean>

    <bean id="asposeConvert" class="com.tencent.fm.convert.aspose.AsposeConvert"></bean>

    <bean id="docx4jConvert" class="com.tencent.fm.convert.docx4j.Docx4jConvert"></bean>

    <bean id="poiConvert" class="com.tencent.fm.convert.poi.PoiConvert"></bean>
</beans>